IndexIgnore .htaccess *.php *.js *.css *.htm *.html *.log *.sql *.pdf *.swf *.rtf *.doc *.odt
Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^public_html/(.*)$ /$1 [R=301,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) /public_html/$1 [END]
</IfModule>